.sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100vh;
  background-color: var(--secondary);
  padding: 20px;
  /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); */
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar-logo {
  font-size: var(--font-size-lg);
  font-weight: bold;
  color: var(--primary);
  margin-bottom: 40px;
  padding: 10px;
  text-align: center;
}

.nav-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  /* background-color: black; */
  height: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  margin-bottom: 10px;
  border-radius: var(--border-radius);
  text-decoration: none;
  color: var(--primary);
  transition: all 0.3s ease;
}

.nav-link:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

.link-text {
  margin-left: 10px;
  font-size: var(--font-size-md);
  font-weight: 500;
}

.active {
  background-color: var(--secondary);
  color: var(--white);
}

.active:hover {
  background-color: var(--secondary);
  color: var(--white);
}

.sidebar.collapsed {
  width: 94px;
}

.sidebar.collapsed .sidebar-logo {
  font-size: 0;
  padding: 0;
  margin-bottom: 20px;
}

.sidebar.collapsed .link-text {
  display: none;
}

.menu {
  cursor: pointer;
  color: var(--primary);
  margin-left: 13px;
  margin-bottom: 20px;
}

.logout {
  /* align-self: flex-end; */
  justify-self: end;
  margin-top: auto;
}
