@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --primary: #333333;
  --secondary: #00b3b3;
  --white: #ffffff;

  --font-size-xl: 48px;
  --font-size-lg: 24px;
  --font-size-md: 20px;
  --font-size-sm: 14px;

  --border-radius: 10px;
}

#root {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.logo {
  font-weight: bold;
  color: var(--primary);
  font-size: 40px;
  margin: 50px;
}

html {
  background-color: var(--tertiary-color);
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* Button Styles */
.primary-btn {
  width: 200px;
  height: 50px;
  border-radius: var(--border-radius);
  background-color: var(--primary);
  color: var(--white);
  border: none;
  font-size: var(--font-size-md);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px;
}

.input {
  width: 450px;
  height: 45px;
  padding-left: 12px;
  border: 1px solid var(--primary);
  background-color: transparent;
  outline: none;
  margin-top: 10px;
}

.primary-btn:hover {
  opacity: 0.9;
  transform: translateY(-1px);
}

.secondary-btn {
  width: 200px;
  height: 50px;
  border-radius: var(--border-radius);
  background-color: transparent;
  color: var(--primary);
  border: 2px solid var(--primary);
  font-size: var(--font-size-md);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Text Styles */
.header {
  font-size: var(--font-size-xl);
  font-weight: 700;
  /* color: var(--primary); */
  margin: 20px;
}

.subheader {
  font-size: var(--font-size-lg);
  font-weight: 600;
}

.body-text {
  font-size: var(--font-size-md);
}

/* .caption {
  font-size: var(--font-size-sm);
  color: #666;
} */

.bg-primary {
  background-color: var(--primary);
}

nav {
  height: 100%;
  width: 300px;
}

body {
  height: 100%;
  width: 100%;
}
